// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  background-color: #FF3B26;
}

.header {
  color: #fff;
}

#link {
  color: #91FFE0 !important;
}